# Google Drive API credentials
google_drive_upload.json
GoogleDriveUpload.py
google_service_account_id.txt
# Testing scripts
# test.py
# scratch.py
# Output Folders
# Results/
# Results copy/
# Figures/